venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/
target/
*.pyd
*.so
.vs/
.vscode/
.idea/
**/.DS_Store
chroma_db/
__pycache__/

dataset/1990-w.npy
dataset/vectors_clean.npy

dataset/ground_truth.npy
dataset/queries.npy

dataset/
